.transition-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    z-index: 9999;
    /* animation: fadeOut 1s ease-in-out 4s forwards; */
    animation: fadeOut 1s ease-in-out 2s forwards;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

.transition-content {
    color: white;
    font-size: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    max-width: 80%; /* Limit content width */
}
